@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
  body {
    @apply font-sans text-slate-900 bg-slate-50 dark:bg-background dark:text-slate-200;
  }

  select {
    @apply bg-slate-50 dark:bg-slate-900 text-slate-900 dark:text-slate-200 border-slate-200 dark:border-white/10;
  }

  select option {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-200;
  }
}
